.analytics-container{ /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.analytics-container_left{
    left:0;
}
.analytics-container_right{
    right:0;
}
.analytics-container_centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }